<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--mapper标签的namespace必须与对应的接口类一致-->
<mapper namespace="com.smarter.dao.mybatis.UserMybatisDao">

    <select id="getMatchCount" resultType="java.lang.Integer">
        <!--方法1：-->
        <!--SELECT count(*) FROM t_user WHERE user_name = #{0} and password = #{1}-->

        <!--方法2：-->
        SELECT count(*) FROM t_user WHERE user_name = #{username} and password = #{password}
    </select>

    <select id="findUserbyUsername" resultType="User" parameterType="java.lang.String">
        SELECT
        user_id userId,
        user_name userName,
        credits credits,
        last_ip lastIp,
        last_visit lastVisit
        FROM t_user WHERE user_name = #{username}
    </select>

    <update id="updateLoginInfo">
        UPDATE t_user
        SET last_visit = #{lastVisit},
        last_ip = #{lastIp},
        credits = #{credits}
        WHERE user_id = #{userId}
    </update>

    <insert id="insertUser" parameterType="User">
        INSERT INTO t_user (user_id, user_name, password, credits, last_visit, last_ip)
        VALUES(#{userId}, #{userName}, #{password}, #{credits}, #{lastVisit}, #{lastIp})
    </insert>

</mapper>